@import './base/settings';
@import './base/base';
@import './components/container';
@import './components/header';
@import './components/button';

/*.textCenter { text-align: center; }
.option { cursor: pointer; width: 20%; }
.cross { float: right; }*/